.tkoSamJa {
  background-color: #f3f3f3;
  padding: 100px 0px;
}

.title {
  text-align: left;
  margin-bottom: 1.3rem;
  margin-top: 0px;
}

.tkoSamJa p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  color: var(--color-text);
  font-weight: 100;
}

.tkoSamJa p:first-of-type {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1.3rem;
}

.tkoSamJa p strong {
  font-weight: 400;
  color: var(--color-blue);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.tkoSamJa img {
  width: 100%;
}