.title {
  text-align: center;
}

.onlineCoaching p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  width: 80%;
  margin: 0 auto 20px;
  color: var(--color-text);
  font-weight: 100;
}

.onlineCoaching p strong {
  font-weight: 400;
  color: var(--color-blue);
}