.contactSection {
  background-color: #f3f3f3;
}

.title {
  /* color: #fff; */
  text-align: center;
  margin-bottom: 0.6rem;
}

.subtitle {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
  width: 80%;
  margin: 0 auto 3rem;
  /* color: #fff; */
  font-weight: 100;
}

.formContainer {
  width: 80%;
  margin: 0 auto;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 16px 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 6px; */
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--color-blue);
}

.form textarea {
  margin-bottom: 40px;
}

.gridGroup {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
}

.btnSalji {
  display: block;
  margin: 0 auto;
  width: 220px;
  /* background-color: #fff;
  color: var(--color-blue); */
}

.message {
  padding: 10px;
  border-radius: 6px;
  color: #fff !important;
  margin: 10px 0px;
}

.errorMessage {
  background: #f06c6c;
  border: 1px solid #ff3737;
}

.successMessage {
  background: #56b989;
  border: 1px solid #52a07a;
}

@media screen and (max-width: 768px) {
  .gridGroup {
    display: block;
  }

  .subtitle {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .formContainer {
    width: 100%;
  }
}